<h1>Vehicles</h1>
<!--<table class="table table-hover">
    <thead>
        <tr>
            <td></td>
            <td>Year</td>
            <td>Make</td>
            <td>Model</td>
            <td>Price</td>
        </tr>
        <tr ng-repeat="vehicle in vehicles">
        <td><img src="{{vehicle.picture}}" alt="vehicle">
            
            </td>
             <td>{{vehicle.Year}}
            
            </td>
               <td>{{vehicle.Make}}
            
            </td>
            <td>{{vehicle.Model}}
            
            </td>
            <td>{{vehicle.Price}}
            
            </td>
            <td><button class="btn btn-primary"></button>
            
            </td>
            
        </tr>
         
    </thead>
</table>-->
<div class="row">
 <div class="col-sm-6 col-md-4">
       
            <input type="text" class="form-control" placeholder="Search By Model"
                   ng-model="searchByModel">
       
    </div>
    
      <div class="col-sm-6 col-md-4">
       
            <input type="text" class="form-control" placeholder="Search By Price"
                   ng-model="searchByPrice"
                  >
       
    </div>
    <div class="col-sm-6 col-md-4">
       
            <input type="text" class="form-control" placeholder="Search By Company"
                  >
       
    </div>

</div>
<div class="row">
   
   
    <div class="col-sm-6 col-md-4" ng-repeat="vehicle in vehicles|filter:{Model:searchByModel}
            |filter:{Price:searchByPrice}">
            <div class="thumbnail">
                <img src="{{vehicle.picture}}" alt="...">
                <div class="caption">
                    <h3>{{vehicle.Model|uppercase}}</h3>
                    <p>{{vehicle.Make|lowercase}}</p>
                    <p><i class="fa fa-inr"></i>{{vehicle.Price|currency:""}}</p>
                     <p>   <a href="#"  class="btn btn-primary" role="button" >Select</a>
                    
 <p>   <a href="#"  class="btn btn-primary" role="button" >{{$index}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>












