<html>
    <head></head>
    
    <body>
   <div class="first"> Built for learning.
WikiNodes is built by IDEA, a nonprofit organization committed to scientific and cultural literacy. It is made using IDEA’s SpicyNodes concept mapping technology, which won the 2011 “Teaching and Learning” award from the American Library Association.
        </div>
        
        
        
<h1>Home at Wiki</h1>
        <p style="align:right"> </p>
        
       <div class="second">XNot to be confused with home screen.<br> 
For other uses, see Home page (disambiguation).<br>
        "Start page" redirects here. For the search engine, see Ixquick<br>
For Wikipedia's home page see Main page and www.wikipedia.org<br></div>
            
<div class="third">
        <H2>The home page of the English Wikipedia</H2>
A home page or a start page is the initial or main web page of a website or a browser. The initial page of a website is sometimes called main page as well.   
        
        </div>
          </body>
        </html>